<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css"  href="../style.css">
<link rel="stylesheet" type="text/css"  href="../base.css">
<link rel="stylesheet" type="text/css"  href="../normalize.css">
<link rel="stylesheet" type="text/css"  href="../grid.css">

</head>
<body>
	<h3 class="heading d-flex justify-content-center">Polaroid Memories</h3>
	<hr class="grad1">
	<form action="/template">
	 <input class="addPhoto" type="submit" value="Add +1 (Up to 4!)">
	</form>
	<div class="container clearfix">
		<div class="grid_5">
			<figure class="polaroid">
				<img class="image" src="file1.png" alt="image" onerror="this.style.display='none'">
				<figcaption>
					<h3>Circa 1963</h3>
				</figcaption>
			</figure>
		</div>
		<div class="grid_5">
			<figure class="polaroid">
				<img class="image" src="file2.png" alt="image" onerror="this.style.display='none'">
				<figcaption>
					<h3>Circa 1997</h3>
				</figcaption>
			</figure>
		</div>
		<div class="grid_5">
			<figure class="polaroid">
				<img class="image" src="file3.png" alt="image" onerror="this.style.display='none'">
				<figcaption>
					<h3>Circa 1910</h3>
				</figcaption>
			</figure>
		</div>
		<div class="grid_5">
			<figure class="polaroid">
				<img class="image" src="file4.png" alt="image" onerror="this.style.display='none'">
				<figcaption>
					<h3>Circa 2001</h3>
				</figcaption>
			</figure>
		</div>
	</div>
</body>
</html>