<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Log In</h1>
	<div class="containerInitial">
		<fieldset>
			<form accept="/" method="post" class="center">
				<h3>Username</h3>
				<input name="userName" type="text" class="input" placeholder="JaneDoe123" required>
				<h3>Password</h3>
				<input name="pWord" type="password" class="input" placeholder="*******" required>
				<br>
				<br>
				<input type="submit" class="login-btn">
			</form>
		</fieldset>
	</div>
	
</body>
</html>